/*基础样式*/
body,ul,li,p,img,input,div,span{
margin: 0;
padding: 0;
list-style: none;
box-sizing: border-box;
}
.clearfix::before,.clearfix::after{
  display: table;
  content: "";
}
.celearfix::after{
  clear: both;
}

/*header部分*/

.header{
  width: 100%;
  height: 80px;
  background: #333;
}
.hd_center{
  width: 960px;
  height: 80px;
  margin: 0 auto;
  color: white;
}
.hd_center span{
  font-size: 36px;
  float: left;
  margin-top: 8px;
}
.nav a{
  color: white;
  float: right;
  margin: 5px;
}

/*banner部分*/

.banner{
  width: 100%;
  height: 300px;
  background: #568c85;
}
.br_center{
  width: 960px;
  margin: 0 auto;
}
.br_center ul{
  margin-top: 250px;
  float: right;
}
.br_center ul li{
  width: 30px;
  height: 35px;
  background: white;
  text-align: center;
  line-height: 35px;
  font-size: 12px;
  opacity: 0.3;
  border: 1px solid #333;
  float: left;
  margin: 0 3px;
}
.br_center .br_center_style{
  height: 55px;
  opacity: 0.7;
  margin-top: -20px;
  line-height: 75px;
}

/*content部分*/

.content{
  margin-top: 20px;
  width: 100%;
}
.cont_border{
  border-bottom: 1px solid #ddd;
}
.list{
  width: 960px;
  height: 55px;
  margin: 0px auto;
}
.list li{
  margin-top: 1px;
  width: 110px;
  height: 55px;
  text-align: center;
  line-height: 55px;
  border: 1px solid #ddd;
  border-radius: 10px 10px 0px 0px;
  float: left;
  background: #eee;
}
.list li:first-child{
  background: white;
  border-bottom-color:white;
}
.cont_center{
  width: 960px;
  height: 548px;
  margin: 10px auto;
}
.row{
  display: flex;
}
.grid-cell{
  flex: 1 1 auto;     /*让每个元素自适应平均分布*/
  margin: 5px;
  min-width: 200px;
  height: 160px;
  line-height: 160px;
  text-align: center;
  border: 1px solid #DDD;
}
.row:nth-child(1) div:nth-child(-n+2){
  flex: 0 0 34%;
}

/*footer部分*/

.footer{
  width: 100%;
  height: 80px;
  background: #666;
  text-align: center;
  color: white;
  line-height: 60px;
  font-weight: 100;
}
